*.o
*.a
*.dSYM
*.csv
*.out
*.png
*.exe
*.dll
*.lib
*.exp
*.ilk
*.lastcodeanalysissucceeded
*.dylib
.fuse*
*.weights

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp

# IDE generated #
.vs/*
.vscode/*
.vs\*
.vscode\*s
# Managed by CMake
src/version.h

# Build artifacts
lib/*
share/*
*.log
*.tlog
x64/Release/ALL_BUILD/ALL_BUILD.vcxproj.FileListAbsolute.txt
x64/*
obj/*
bin/*
*.user
*.filters
*.pdb
publish/*
FastYolo.TestApp/bin/Debug/netcoreapp3.0/libdarknet.so
FastYolo.TestApp/bin/x64/Release/netcoreapp3.0/FastYolo.TestApp.runtimeconfig.json
FastYolo.TestApp/bin/x64/Release/netcoreapp3.0/FastYolo.TestApp.runtimeconfig.dev.json
FastYolo.TestApp/bin/x64/Release/netcoreapp3.0/FastYolo.TestApp.deps.json
FastYolo.TestApp/bin/Debug/netcoreapp3.0/publish/libdarknet_amd.so
FastYolo.TestApp/bin/Debug/netcoreapp3.0/libdarknet_amd.so
FastYolo.TestApp/libdarknet_amd.so
FastYolo.TestApp/obj/Debug/netcoreapp3.0/FastYolo.TestApp.AssemblyInfoInputs.cache
FastYolo.TestApp/obj/Debug/netcoreapp3.0/FastYolo.TestApp.assets.cache
FastYolo.TestApp/obj/FastYolo.TestApp.csproj.nuget.cache
FastYolo.TestApp/obj/FastYolo.TestApp.csproj.nuget.dgspec.json
FastYolo.TestApp/obj/FastYolo.TestApp.csproj.nuget.g.props
FastYolo.TestApp/obj/project.assets.json
FastYolo.TestApp/obj/x64/Debug/netcoreapp3.0/FastYolo.TestApp.AssemblyInfoInputs.cache
FastYolo.TestApp/obj/x64/Debug/netcoreapp3.0/FastYolo.TestApp.assets.cache
FastYolo.TestApp/obj/x64/Debug/netcoreapp3.0/FastYolo.TestApp.csprojAssemblyReference.cache
FastYolo.TestApp/obj/x64/Release/netcoreapp3.0/FastYolo.TestApp.AssemblyInfoInputs.cache
FastYolo.TestApp/obj/x64/Release/netcoreapp3.0/FastYolo.TestApp.assets.cache
FastYolo.TestApp/obj/x64/Release/netcoreapp3.0/FastYolo.TestApp.csproj.CopyComplete
FastYolo.TestApp/obj/x64/Release/netcoreapp3.0/FastYolo.TestApp.csproj.FileListAbsolute.txt
FastYolo.TestApp/obj/x64/Release/netcoreapp3.0/FastYolo.TestApp.csprojAssemblyReference.cache
FastYolo.Tests/bin/x64/Release/netcoreapp3.0/FastYolo.Tests.deps.json
FastYolo.Tests/bin/x64/Release/netcoreapp3.0/FastYolo.Tests.runtimeconfig.dev.json
FastYolo.Tests/bin/x64/Release/netcoreapp3.0/FastYolo.Tests.runtimeconfig.json
FastYolo.Tests/bin/x64/Release/netcoreapp3.0/nunit_random_seed.tmp
FastYolo.Tests/libdarknet_amd.so
FastYolo.Tests/obj/FastYolo.Tests.csproj.nuget.cache
FastYolo.Tests/obj/FastYolo.Tests.csproj.nuget.dgspec.json
FastYolo.Tests/obj/FastYolo.Tests.csproj.nuget.g.props
FastYolo.Tests/obj/FastYolo.Tests.csproj.nuget.g.targets
FastYolo.Tests/obj/project.assets.json
FastYolo.Tests/obj/x64/Debug/netcoreapp3.0/FastYolo.Tests.AssemblyInfoInputs.cache
FastYolo.Tests/obj/x64/Debug/netcoreapp3.0/FastYolo.Tests.assets.cache
FastYolo.Tests/obj/x64/Debug/netcoreapp3.0/FastYolo.Tests.csprojAssemblyReference.cache
FastYolo.Tests/obj/x64/Release/netcoreapp3.0/FastYolo.Tests.AssemblyInfoInputs.cache
FastYolo.Tests/obj/x64/Release/netcoreapp3.0/FastYolo.Tests.assets.cache
FastYolo.Tests/obj/x64/Release/netcoreapp3.0/FastYolo.Tests.csproj.CopyComplete
FastYolo.Tests/obj/x64/Release/netcoreapp3.0/FastYolo.Tests.csproj.FileListAbsolute.txt
FastYolo.Tests/obj/x64/Release/netcoreapp3.0/FastYolo.Tests.csprojAssemblyReference.cache
FastYolo/libdarknet_arm.so
FastYolo.TestApp/bin/Debug/netcoreapp3.0/libdarknet.so
FastYolo.TestApp/bin/Debug/netcoreapp3.0/publish/libdarknet_amd.so
FastYolo.TestApp/bin/Debug/netcoreapp3.0/libdarknet_amd.so
FastYolo.TestApp/libdarknet_amd.so
FastYolo.TestApp/obj/Debug/netcoreapp3.0/FastYolo.TestApp.AssemblyInfoInputs.cache
FastYolo.TestApp/obj/Debug/netcoreapp3.0/FastYolo.TestApp.assets.cache
FastYolo.TestApp/obj/FastYolo.TestApp.csproj.nuget.cache
FastYolo.TestApp/obj/FastYolo.TestApp.csproj.nuget.dgspec.json
FastYolo.TestApp/obj/FastYolo.TestApp.csproj.nuget.g.props
FastYolo.TestApp/obj/project.assets.json
FastYolo.Tests/libdarknet_amd.so
FastYolo.Tests/obj/FastYolo.Tests.csproj.nuget.cache
FastYolo.Tests/obj/FastYolo.Tests.csproj.nuget.dgspec.json
FastYolo.Tests/obj/FastYolo.Tests.csproj.nuget.g.props
FastYolo.Tests/obj/FastYolo.Tests.csproj.nuget.g.targets
FastYolo.Tests/obj/project.assets.json
FastYolo.Tests/obj/x64/Debug/netcoreapp3.0/FastYolo.Tests.AssemblyInfoInputs.cache
FastYolo.Tests/obj/x64/Debug/netcoreapp3.0/FastYolo.Tests.assets.cache
FastYolo.Tests/obj/x64/Debug/netcoreapp3.0/FastYolo.Tests.csprojAssemblyReference.cache
FastYolo/libdarknet_arm.so
*.so
*.cache
*.json
