*.o
*.so.*
*.so
*.a
*.dSYM
*.csv
*.out
*.png
*.so
*.exe
*.dll
*.lib
*.exp
*.ilk
*.lastcodeanalysissucceeded
*.dylib
.fuse*
*.weights

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp

# IDE generated #
.vs/*
.vscode/*
.vs\*
.vscode\*s
# Managed by CMake
src/version.h

# Build artifacts
lib/*
share/*
*.log
*.tlog
x64/Release/ALL_BUILD/ALL_BUILD.vcxproj.FileListAbsolute.txt
x64/*
obj/*
bin/*
*.user
*.filters
*.pdb
FastYolo.TestApp/bin/Debug/netcoreapp3.0/publish/FastYolo.TestApp
FastYolo.TestApp/bin/Debug/netcoreapp3.0/publish/FastYolo.TestApp.deps.json
FastYolo.TestApp/bin/Debug/netcoreapp3.0/publish/FastYolo.TestApp.runtimeconfig.json
FastYolo.TestApp/obj/Debug/netcoreapp3.0/FastYolo.TestApp.csproj.FileListAbsolute.txt
FastYolo.TestApp/obj/Debug/netcoreapp3.0/FastYolo.TestApp.csproj.FileListAbsolute.txt
FastYolo.TestApp/obj/Debug/netcoreapp3.0/FastYolo.TestApp.csprojAssemblyReference.cache
FastYolo.Tests/obj/Debug/netcoreapp3.0/FastYolo.Tests.csprojAssemblyReference.cache
